img {
    width: 60px;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
.my_bg-blue-water {
    background-color: rgb(0, 150, 136);
}
.my_bg-grey {
    background-color: rgb(219, 219, 211);
}
.my_bg-light-grey {
    background-color: rgb(234, 234, 234);
}
.my_bg-light-blue {
    background-color: rgb(142, 218, 252);
}
.my_bg-light-orange-grey {
    background-color: rgb(243, 238, 234);
}
.my_bg-green-sent {
    background-color: rgb(213, 249, 186);
}
.my_bg-white-received {
    background-color: rgb(255, 255, 255);
}
.my_bg-white {
    background-color: rgb(255, 255, 255);
}
.my_box-conversation {
    background-image: url('../img/mine.jpg');
    background-repeat: repeat;
}
.my_border-radius {
    border-radius: 15px;
    padding: 5px 10px;
}
.wep-app {
    height: calc(100vh - 50px);
    margin: 25px 0;
}
.overflow-y-scroll {
    overflow-y: scroll;
    height: 100%;
}
.my_time-preview {
    position: absolute;
    top: 2px;
    right: 2px;
}
.my_bg-page {
    position: relative;
}
.my_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top {
    height: 150px;
}

.bottom {
    height: calc(100vh - 150px);
}