<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link a FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        
    <!-- Link at Bootstrap's CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Link to a more specific CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Link to the VUE Framework -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <title>Boolzapp</title>
</head>
<body>
    
    <div id="app">
    <div @click="removeActiveMsgClick" class="my_bg-page">
        <div class="top my_bg-blue-water">
        </div>
        <div class="bottom my_bg-grey">    
        </div>
        
        <div class="container my_content">
            <div class="row gx-0 wep-app">
                <div class="col-4 my_side my_side-left">
                    <div class="my_profile">
                        <div class="my_profile_info">
                            <div class="my_profile_avatar">
                                <img src="img/avatar_io.jpg" alt="">
                            </div>
                            <div class="my_profile_text">
                                <h4>Nome Utente</h4>
                            </div>
                        </div>
                        <div class="my_profile_options">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                    <div class="my_notices">
                        <div class="my_notices_logo">
                            <i class="fas fa-bell-slash my_content"></i>
                        </div>
                        <div class="my_notices_text">
                            <h5>Ricevi notifiche di nuovi messaggi</h3>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    
                    <div class="my_search-bar">
                        <label for="search-contacts"><i class="fas fa-search"></i></label></i>
                        <!-- @keyup="searchBarFilter"  -->
                        <input v-model="lookingForContact" type="text" placeholder="Cerca o inizia una nuova chat" class="flex-grow-1" id="search-bar">
                    </div>
        
                    <div class="flex-grow-1 my_bg-white">
                        <ul class="overflow-y-scroll">
                            <li v-if="element.name.toLowerCase().includes(lookingForContact.trim().toLowerCase())" v-for="(element,index) in contacts">
                                <div @click="selectContact(index)" class="my_contacts">
                                    <div class="my_profile_avatar">
                                        <img :src="'img/avatar' + element.avatar + '.jpg'" alt="profile pic">
                                    </div>
                                    <div class="my_contacts_text">
                                        <h4>{{element.name}}</h4>
                                        <p>{{lastText(element)}}</p>
                                    </div>
                                    <span class="my_contacts_time-preview">{{lastTime(element)}}</span>
                                </div>                                
                            </li>
                        </ul>
                    </div>
                    
                    
                </div>
                <div class="col-8 my_side my_side-right">
                    <div class="my_profile">
                        <div class="my_profile_info">
                            <div class="my_profile_avatar">
                                <img :src="'img/avatar' + contacts[activeContact].avatar + '.jpg'" alt="">
                            </div>
                            <div class="my_profile_text">
                                <h4>{{contacts[activeContact].name}}</h4>
                                <p>Last Online {{lastAccess}}</p>
                            </div>
                        </div>
                        <div class="my_profile_options">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                    <div class="flex-grow-1 my_dialogue overflow-y-scroll">
                        <div class="row flex-column gx-0 mt-5">
                            <div v-for="(element, index) in contacts[activeContact].messages" class="col-5 my_dialogue_text" :class="element.status == 'received' ?  'my_dialogue_text-received' : 'my_dialogue_text-sent' ">
                                <p>{{element.text}}</p>
                                <span class="my_dialogue_time-preview">{{element.date}}</span>
                                <i @click.stop="selectMsg(index)" class="fas fa-angle-down my_dropdown-click"></i>
                                <div v-if="activeMsg == index" disabled="enabled" class="my_dialogue_dropdown">
                                    <span @click.stop="removeMsg(index)">Cancella messaggio</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my_box-chat">
                        <i class="far fa-smile"></i>
                        <input @keyup.enter="textSent()" v-model="textChat" type="text" placeholder="Scrivi un messaggio" class="flex-grow-1">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
            
        </div>

        
    </div>
    </div>


    <script type="text/javascript" src="js/script.js">
    </script>
</body>
</html>